Codes/flows_Rednode.json
[{"id":"584bc5d.db5c23c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"584bc5d.db5c23c","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":111,"y":61,"wires":[["cbb7fff9.5d469"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"584bc5d.db5c23c","name":"","active":true,"console":"false","complete":"false","x":830,"y":100,"wires":[]},{"id":"cc673de2.68415","type":"function","z":"584bc5d.db5c23c","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":220,"wires":[["cbb7fff9.5d469","f35f17f9.c41c68"]]},{"id":"cbb7fff9.5d469","type":"watson-conversation-v1","z":"584bc5d.db5c23c","name":"","workspaceid":"52400332-c5dc-47eb-87c5-8e59a5720456","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/8a611313-9e02-450f-8566-485ddfd905aa","timeout":"","optout-learning":false,"x":400,"y":120,"wires":[["be53f0c3.c2e3b"]]},{"id":"be53f0c3.c2e3b","type":"function","z":"584bc5d.db5c23c","name":"parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["f2f2649a.0d0d98","990854e3.40a938"]]},{"id":"51b79bcb.5b7444","type":"ui_form","z":"584bc5d.db5c23c","name":"","label":"","group":"205daacf.c576a6","order":0,"width":0,"height":0,"options":[{"label":"You:","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":160,"wires":[["cc673de2.68415"]]},{"id":"990854e3.40a938","type":"ui_text","z":"584bc5d.db5c23c","group":"205daacf.c576a6","order":2,"width":0,"height":0,"name":"","label":"assistant:","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":240,"wires":[]},{"id":"f35f17f9.c41c68","type":"ui_text","z":"584bc5d.db5c23c","group":"205daacf.c576a6","order":1,"width":0,"height":0,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":280,"wires":[]},{"id":"205daacf.c576a6","type":"ui_group","z":"","name":"Default","tab":"cf8aea10.afb848","order":1,"disp":true,"width":"6","collapse":false},{"id":"cf8aea10.afb848","type":"ui_tab","z":"","name":"bot","icon":"dashboard","disabled":false,"hidden":false}]